# Bonding parameters
TYPE=Bridge
BRIDGING_OPTS="{%- if item.bridge.priority is defined %}
priority={{ item.bridge.priority }}
{%- else -%}
priority=32760
{%- endif -%}
{%- if item.bridge.hello_time is defined %}
 hello_time={{ item.bridge.hello_time }}
{%- endif -%}
{%- if item.bridge.max_age is defined %}
 max_age={{ item.bridge.max_age }}
{%- endif -%}
{%- if item.bridge.ageing_time is defined %}
 ageing_time={{ item.bridge.ageing_time }}
{%- endif %}"
{% if item.bridge.stp is defined %}
STP={{ item.bridge.stp | bool | ternary("yes", "no") }}
{% endif %}
{% if item.bridge.delay is defined %}
# DELAY={{ item.bridge.delay }}
{%- endif %}
