# Device properties
NAME={{ item.device }}
DEVICE={{ item.device }}
{% if item.hwaddress is defined %}
HWADDR={{ item.hwaddress }}
{% endif %}
{% if item.bootproto == 'static' %}
BOOTPROTO=static
{% elif item.bootproto == 'dhcp' %}
BOOTPROTO=dhcp
{% else %}
BOOTPROTO=none
{% endif %}
{% if item.onboot is defined %}
ONBOOT={{ item.onboot | bool | ternary("yes", "no") }}
{% endif %}
{% if item.user_control is defined %}
USERCTL={{ item.user_control | bool | ternary("yes", "no") }}
{% else %}
USERCTL="no"
{% endif %}
{% if item.uuid is defined %}
UUID={{ item.uuid }}
{% endif %}
{% if item.nm_controlled is defined %}
NM_CONTROLLED={{ item.nm_controlled | bool | ternary("yes", "no") }}
{% elif nm_controlled is defined %}
NM_CONTROLLED={{ nm_controlled | bool | ternary("yes", "no") }}
{% endif %}
{% if item.mtu is defined %}
MTU={{ item.mtu }}
{% endif %}
{% if item.dns_nameservers is defined %}
{% for dns_nameserver in item.dns_nameservers %}
{% if loop.index == 4 %}
# WARNING: Generally only the first three name servers are used
{% endif %}
DNS{{ loop.index }}={{ dns_nameserver }}
{% endfor %}
{% endif %}
{% if item.search_domains is defined %}
DOMAIN="{% for domain in item.search_domains %}{% if loop.index > 1 %} {% endif %}{{ domain.domain }}{% endfor %}"
{% endif %}

{% include  "RedHat_device_type.j2" %}

{% include  "RedHat_device_ipv4.j2" %}

{% include  "RedHat_device_ipv6.j2" %}
